/* CSS HEX
--pale-spring-bud: #ccd5aeff;
--pale-spring-bud-2: #e9edc9ff;
--cornsilk: #fefae0ff;
--papaya-whip: #faedcdff;
--fawn: #d4a373ff;

--- TYPEOGRAPHY SYSTEM

- Font size(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weights:


- Line Heights:


- Letter Spacing


--- 07 WHITESPACE
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--- 05 SHADOWS

--- 06 BORDER-RADIUS
*/

/* Text Sizing */
@import url("https://fonts.googleapis.com/css?family=Poppins:400");

html {
  font-size: 100%;
} /*16px*/

body {
  background: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.833rem;
}
/******************MAIN NAV STYLES********************/
.main-nav {
  background-color: #ccd5aeff;
}
