/* CSS HEX
--pale-spring-bud: #ccd5aeff;
--pale-spring-bud-2: #e9edc9ff;
--cornsilk: #fefae0ff;
--papaya-whip: #faedcdff;
--fawn: #d4a373ff;

--- TYPEOGRAPHY SYSTEM

- Font size(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weights:

- Font Color:
rgb(161, 88, 88)
Main Text rgb(54, 54, 54)

- Line Heights:


- Letter Spacing


--- 07 WHITESPACE
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--- 05 SHADOWS

--- 06 BORDER-RADIUS
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Text Sizing */
@import url("https://fonts.googleapis.com/css?family=Poppins:400");

html {
  font-size: 62.5%;
} /*16px*/

body {
  background: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.833rem;
}

/**************HEADER************/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 130rem;
  margin: 0 auto;
  height: 74px;
  padding: 2rem;
}

/**************HOME-LINK************/

.home-link {
  color: rgb(161, 88, 88);
  text-decoration: none;
  font-size: 2.3rem;
}
/**************NAVIGATION************/
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.5rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: rgb(54, 54, 54);
  font-weight: 500;
  font-size: 1.4rem;
}

/**************HeroSection************/
#hero-outer-div {
  position: relative;
  max-width: 130rem;
  margin: 0 auto;
}
.hero-image {
  width: 100%;
  height: 60rem;
  object-fit: cover;
}
#hero-text {
  position: absolute;
  top: 0px;
  left: 0px;
}
.hero-text-main {
  /* background-color: blue; */
  font-weight: bold;
  font-size: 7.4rem;
  color: rgb(54, 54, 54);
  top: 0px;
  left: 0px;
  letter-spacing: -3px;
}
.hero-text-k {
  font-weight: bold;
  font-size: 7.4rem;
  color: rgb(161, 88, 88);
  top: 170px;
  left: 420px;
}
.hero-text-k:hover {
  transform: rotate(300deg);
}
.hero-text-short {
  font-size: 1.3rem;
  top: 250px;
  left: 105px;
}

.contact-hero {
  font-size: 1.4rem;
  text-decoration: none;
  top: 400px;
  left: 100px;
  color: rgb(161, 88, 88);
  padding: 15px 30px;
  border: 3px solid rgb(161, 88, 88);
}

.contact-hero:hover {
  background-color: orange;
  color: black;
  font-weight: bold;
  border: none;
}
/**************Bio************/
#bio {
  display: flex;
  justify-content: center;
  max-width: 130rem;
  height: 60rem;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: rgb(243, 241, 234);
}
.bio-container {
  margin: 10rem;
  display: flex;
  gap: 10%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.bio-text {
  height: 40rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.about-title {
  margin-top: 0;
  margin-bottom: 10%;
  font-size: 4rem;
  font-weight: bold;
  color: rgb(54, 54, 54);
}

#bio p {
  font-size: 1.4rem;
}
.bio-photos {
  height: 40rem;
  width: 60%;
  position: relative;
}
#image-ideas {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  top: 7%;
  left: 7%;
  transform: rotate(-15deg);
  border-radius: 20px;
  box-shadow: -10px 10px 20px rgb(157, 157, 157);
}

#image-wireframe {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: rotate(10deg);
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgb(79, 78, 78);
}

#image-HTML {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  top: 7%;
  right: 7%;
  transform: rotate(15deg);
  border-radius: 20px;
}
/**************Projects Section************/
#projects {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  width: 130rem;
  height: 50rem;
  margin: 0 auto;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: #fefae0ff;
  height: 30rem;
  width: 20rem;
  border-radius: 20px;
  box-shadow: 20px 20px 20px rgb(204, 204, 204);
}
.project img {
  margin-bottom: 10px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 17px;
}
.project-text {
  margin-bottom: 30px;
  align-content: flex-start;
}

/**************CONTACT************/
.page-outer {
  min-height: 100vh;
  position: relative;
  width: 130rem;
  height: 50rem;
  margin: 0 auto;
}

#section-contact {
  position: static;
  display: flex;
  align-items: center;
  background-color: #5c5c5c;
}
